*{
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

body{
    background-color: #0f111a;
}

h1{ font-size: 60px; color: aliceblue;
text-align: center;}

li{
    list-style-type: none;
}

.font-blanca { 
    font-size: 22px;
    color: white;
}


.cuenta_regresiva__logo {
    width: 650px;
}

.footer__redes--instagram{
    width: 37px;


}


footer{
    color: aliceblue;
}